<div class="header clearfix">
    <a href="{% url 'index' %}" class="logo"></a>
    <ul class="menu">
        {% for link in links_header %}
            <li><a href="{% url link.href %}"
               class="{% if not request.resolver_match.namespace %}
                            {% if request.resolver_match.url_name == link.href %}
                                active
                            {% endif %}
                      {% else %}
                            {% if request.resolver_match.namespace in link.href %}
                                active
                            {% endif %}
                      {% endif %}">
            {{ link.name }}</a></li>
        {% endfor %}
    </ul>
    <a href="#" class="search"></a>
    <a href="#" class="basket"></a>
</div>